behav_hete False 
hard_hete True
no_training False 
real_world False
dataset celeba 
model cnn 
num_rounds 1000 
learning_rate 0.05 
eval_every 10
clients_per_round 100 
min_selected 80 
max_sample 30 
batch_size 10 
seed 0 
round_ddl 150 0 
update_frac 0.8  
max_client_num -1
aggregate_algorithm SucFedAvg 
num_epochs 5 
# compress_algo grad_drop
# fedprox True
# fedprox_mu 0.5
# fedprox_active_frac 0.8
# structure_k 100
# qffl True
# qffl_q 5

